/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { padding: 0; margin: 0; font-size: 14px; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-raised-button {
   text-transform: uppercase !important;
      padding: 0 10px !important;
      line-height: 30px !important;
      margin: 6px !important;
      border-radius: 2px !important;
}
.mat-dialog-container {
    padding: 0 !important;
    overflow-y: hidden !important;
    min-height: 500px !important;
}
.mat-dialog-content {
    overflow-y: auto !important;
}
